.navbar-profile-pic img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align:middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.nav-item{
    color: white;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    color: var(--orange);
}

.nav-link .active{
    color:var(--orange);
text-decoration: none;
border-left: 5px solid var(--orange);
padding-left: 10px;
}